:root {
    scroll-behavior: smooth;
    --header: #e7d4e6;
    --header2: #929292;
    --text-color: #000000;
    --inverse-text-color: #ffffff;
    --highlight-color-1: #a32c7d;
    --button-color: #fd3cbd;
    --gradient-1: #ac3466;
    --gradient-2: #c54b9f;
    --color-table: #f2f2f2;
    --theme-color: #dddddd;
    --color-button-add: #5fd382;
    --color-button-remove: #cf4343;
}

* {
    box-sizing: border-box;
}

.body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin: 0;
}


/* Header */

.header {
    background-color: var(--header);
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 0.25rem 0.25rem 0 var(--header2);
    height: 4rem;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1024px;
    height: 4rem;
    padding: 0 2rem;
    margin: auto;
    color: var(--text-color);
}

.header-nav__link-logo-container {
    height: 3rem;
}

.header-nav__link-logo {
    height: 100%;
    border-radius: 70%;
}

.header-nav__menu-icon {
    font-size: 2rem;
    width: 2rem;
    margin: 0;
    color: var(--highlight-color-1);
    cursor: pointer;
    transition: all 0.5s;
}

.header-nav__menu-icon:hover {
    font-size: 2.5rem;
    filter: brightness(250%);
    transition: all 0.5s;
}

.header-nav__menu-checkbox {
    display: none;
}

.header-nav__link-list {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 4rem;
    bottom: 0;
    left: 100%;
    right: 100%;
    width: 100%;
    height: 100%;
    gap: 2.5rem;
    margin: 0;
    padding: 0;
    transition: all 0.5s;
}

.header-nav__menu-checkbox:checked+.header-nav__link-list {
    left: 0;
    background-color: var(--header);
    opacity: 0.9;
}

.header-nav__link-item {
    list-style: none;
}

.header-nav__link {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--highlight-color-1);
    transition: all 0.25s;
    font-weight: bolder;
}

.header-nav__link:hover {
    color: var(--highlight-color-2);
}


/* Introducción - Bienvenida */

.tienda__illustration {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    display: block;
    align-items: center;
}

.tienda__message {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.tienda__message-subtitle {
    font-weight: 500;
    margin: 0;
}

.gradient {
    display: block;
    margin: 20px 0;
    min-height: 50px;
    padding: 16px 24px;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
    border: 0.05rem solid var(--highlight-color-1);
    outline: none;
    box-shadow: none;
    background-color: transparent;
    background-position: top center;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    transition-property: background, color;
    opacity: 0.85;
}

.tienda__button {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.tienda__button-dynamic {
    position: relative;
    border-radius: 20px;
    background-image: linear-gradient(90deg, var(--button-color), var(--highlight-color-1), var(--gradient-1), var(--gradient-2), var(--button-color), var(--highlight-color-1));
    background-size: 400%;
    background-position: 0% 0%;
    color: var(--inverse-text-color);
    text-decoration: none;
}

.tienda__button-dynamic::before {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    right: -2px;
    bottom: -2px;
    background-image: linear-gradient(90deg, var(--button-color), var(--highlight-color-1), var(--gradient-1), var(--gradient-2), var(--button-color), var(--highlight-color-1));
    background-size: 500%;
    background-position: 0% 0%;
    filter: blur(10px);
    opacity: 0;
    z-index: -1;
    transition: opacity 0.2s;
}

.tienda__button-dynamic:hover {
    animation: gradientRotate 1.85s infinite;
}

.tienda__button-dynamic::before {
    opacity: 1;
    animation: gradientRotate 1.85s infinite;
}

.tienda__button-dynamic:active {
    color: var(--inverse-text-color);
}

@keyframes gradientRotate {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 100%;
    }
}


/* Productos */

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

.container__espere {
    margin-top: 50px;
    margin-left: 40px;
    font-size: 20x;
    color: var(--highlight-color-1);
}

.container__texto {
    text-align: center;
    color: var(--highlight-color-1);
    font-size: 28px;
    margin-bottom: 25px;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4),
        0px 8px 13px rgba(0, 0, 0, 0.1),
        0px 18px 23px rgba(0, 0, 0, 0.1);
}

.container__productos {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-gap: 80px;
}


/* Botones */

.botonAnhadir {
    background-color: var(--color-button-add);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100px;
    margin: 5px;
    font-weight: bold;
    justify-content: center;
    border-radius: 10px;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.botonRemover {
    background-color: var(--color-button-remove);
    padding-left: 17px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100px;
    margin: 5px;
    color: var(--inverse-text-color);
    font-weight: bold;
    justify-content: center;
    border-radius: 10px;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}


/* Tabla productos */

.container-table {
    font-family: 'Poppins', sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.container-table td,
.container-table th {
    border: 1px solid var(--theme-color);
    padding: 8px;
}

.container-table tr:nth-child(even) {
    background-color: var(--color-table);
}

.container-table tr:hover {
    background-color: var(--theme-color);
}

.container-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--header);
    color: var(--text-color);
}


/* Footer - Redes sociales */

.footer {
    background: var(--inverse-text-color);
    color: var(--text-color);
    gap: 1rem;
}

.contact__nav {
    max-width: 30rem;
    margin: 1em auto;
    padding: 1em;
    height: 25vh;
    text-align: center;
}

.contact__titulo {
    font-size: 20px;
}

.contact__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact__item {
    width: 10%;
    border-radius: 1rem;
    padding: 0.5em;
    margin: 0.5em;
    transition: all 0.5s;
}

.contact__image {
    width: 100%;
    transition: all 0.1s linear;
    transition-delay: 0.05s;
}

.contact__image:hover {
    transform: scale(1.25);
}

/* Media Queries - Responsive */

@media (min-width: 854px) {

    .header-nav__menu-icon {
        display: none;
    }

    .header-nav__link-list {
        position: static;
        flex-direction: row;
        width: auto;
        background-color: inherit;
    }

    .header-nav__link {
        font-size: 1rem;
        color: var(--highlight-color-1);
    }
}